/.vscode
/2_dates.sql
/3_cases.sql
/4_subqueries_CTE.sql
/5_unions.sql
/csv_files
/PracticesQueryes.sql
/practice_problem_cases.sql
/practice_problem_dates.sql
/practice_problem_unions.sql
/sql_course.session.sql